<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ADYX1|Descargar video/audio yt</title>
    </head>
    <body>
        <h1>Bienvenido a la pagina :> </h1>
        <form method="POST">
            <input type="text" name="url" placeholder="Pega el enlace del video de YouTube aquí">
            <select name="tipo">
                <option value="video">Video</option>
                <option value="audio">Audio</option>
            </select>
            <input type="text" name="ruta" id="ruta" placeholder="Ingresa la ruta de la carpeta aquí">
            <button type="submit">Descargar</button>
        </form>
    </body>
</html>